<% if @recipe.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@recipe.errors.count, "error") %>
      prohibited this recipe from being saved:
    </h2>
 
    <ul>
    <% @recipe.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="container">
<%= form_for @recipe do |f| %>
<br>




<p>Title: <%= f.text_field :title %></p>

<p>Cook Time: <%= f.text_field :cooking_time %></p>

<p>Instructions: <%= f.text_area :instructions %> </p>
<br>
<% if !@category%>
<%= f.collection_select(:category_id, Category.all, :id, :name, include_blank: true) %>

<p>Create new Category</p>

<%= f.fields_for :category, @recipe.build_category  do |uf|%>
    
    <%= uf.label :name  %>
    <%= uf.text_field :name %>
<% end %>
<% else %>

<%= f.hidden_field :category_id%>

<% end %>

<%= f.submit "Submit" %>

<% end %>

</div>