

<ul>
<% @recipes.each do |r| %>
<li><p><%= link_to r.category.name, category_recipes_path(r.category) %> - <%= link_to r.title, recipe_path(r) %></p> </li>
<p>more by <%= link_to r.user.username, user_recipes_path(r.user)%></p>
<% end %>
</ul>

<% if !@filter%>
<p>To see the list ordered alphabetically, Click <%= link_to 'Ordered list', recipes_ordered_list_path %></p>
<% end %>

<% if @category%>
<p><%= link_to 'Add a recipe to this category', new_category_recipe_path(@category) %></p>
<% end %>









