 
 
 <h3><%= @recipe.title %></h3>

 <p><%= @recipe.cooking_time %></p>

 <p><%= @recipe.instructions %></p>



 <p><%= link_to 'Edit', edit_recipe_path(@recipe) %></p>

 <p><%= link_to 'Delete', recipe_path(@recipe), data: { method: :delete } %></p>

 